<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <title>Checkout example for Bootstrap</title>
    <link rel="canonical" href="https://getbootstrap.jp/docs/5.3/examples/checkout/">
    <link rel="stylesheet" href="./Checkout example for Bootstrap_files/bootstrap.min.css">
    <link href="./Checkout example for Bootstrap_files/form-validation.css" rel="stylesheet">
  </head>
  <body class="bg-light">
    <div class="container">
      <%# footer %>
      <div class="py-5 text-center">
        <h2>Checkout form</h2>
        <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
      </div>
      <%= render 'shared/info_messages' %>
      <div class="row">
        <%# cart %>
        <div class="col-md-4 order-md-2 mb-4">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Your cart</span>
            <span class="badge badge-secondary badge-pill">3</span>
          </h4>
          <ul class="list-group mb-3">
            <% @cart_products.each do |cart_product| %>
              <%= render partial: 'cart_product', locals: { product: @products.find { |product| product.id == cart_product.product_id}, cart_product: cart_product } %>
            <% end %>
          </ul>
          <form class="card p-2">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Promo code">
              <div class="input-group-append">
                <button type="submit" class="btn btn-secondary">Redeem</button>
              </div>
            </div>
          </form>
        </div>
        <%# billing %>
        <div class="col-md-8 order-md-1">
          <h4 class="mb-3">Billing address</h4>
          <%= render partial: 'cart_products/billing_form', locals: {billing_info: @billing_info}, data: { turbo: false } %>
        </div>
      </div>
      <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">HC</p>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://getbootstrap.jp/docs/4.3/examples/checkout/#">Privacy</a></li>
          <li class="list-inline-item"><a href="https://getbootstrap.jp/docs/4.3/examples/checkout/#">Terms</a></li>
          <li class="list-inline-item"><a href="https://getbootstrap.jp/docs/4.3/examples/checkout/#">Support</a></li>
        </ul>
      </footer>
    </div>
  </body>
</html>
