<div class="col mb-5">
  <div class="card h-100">
    <!-- Product image-->
    <% if related_product.image.attached? %>
      <%= image_tag related_product.image, class: "card-img-top" %>
    <% else %>
      <%= image_tag 'no_image.png', class: "card-img-top", alt: "no-image" %>
    <% end %>
    <!-- Product details-->
    <div class="card-body p-4">
      <div class="text-center">
        <!-- Product name-->
        <h5 class="fw-bolder"><%= related_product.name %> </h5>
        <!-- Product price-->
        <%= related_product.price %>円
      </div>
    </div>
  </div>
</div>
